[submodule "user_guide"]
	path = user_guide
	url = https://github.com/codeigniter-id/ci-user-guide-id.git
[submodule "app/awesome-ci"]
	path = app/awesome-ci
	url = https://github.com/codeigniter-id/awesome-codeigniter.git
